[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-wtf = "*"
wtforms = "*"
"wtforms.validators" = "*"
flask-cors = "*"
marshmallow-sqlalchemy = "*"
flask-bootstrap = "*"
cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
